[submodule "src/spikes/1/TensorComprehensions"]
	path = src/spikes/1/TensorComprehensions
	url = https://github.com/facebookresearch/TensorComprehensions.git
[submodule "src/spikes/2/TensorSharp"]
	path = src/spikes/2/TensorSharp
	url = https://github.com/alex-weaver/TensorSharp.git
